/* line 23, ../sass/plugins.scss */
.mm-menu {
  background-color: #151b20;
  color: rgba(255, 255, 255, 0.7);
  width: 80%;
  min-width: 140px;
  max-width: 360px; }
  /* line 31, ../sass/plugins.scss */
  .mm-menu .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.2); }
  /* line 35, ../sass/plugins.scss */
  .mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu .mm-list > li.mm-selected > span {
    background-color: rgba(0, 0, 0, 0.2); }

/* line 40, ../sass/plugins.scss */
html.mm-opening .mm-slideout {
  -moz-transform: translate(80%, 0);
  -ms-transform: translate(80%, 0);
  -webkit-transform: translate(80%, 0);
  transform: translate(80%, 0); }

/* line 45, ../sass/plugins.scss */
html.mm-right.mm-opening .mm-slideout {
  -moz-transform: translate(-80%, 0);
  -ms-transform: translate(-80%, 0);
  -webkit-transform: translate(-80%, 0);
  transform: translate(-80%, 0); }

@media all and (max-width: 175px) {
  /* line 52, ../sass/plugins.scss */
  html.mm-opening .mm-slideout {
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -webkit-transform: translate(140px, 0);
    transform: translate(140px, 0); }

  /* line 56, ../sass/plugins.scss */
  html.mm-right.mm-opening .mm-slideout {
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -webkit-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 550px) {
  /* line 62, ../sass/plugins.scss */
  html.mm-opening .mm-slideout {
    -moz-transform: translate(360px, 0);
    -ms-transform: translate(360px, 0);
    -webkit-transform: translate(360px, 0);
    transform: translate(360px, 0); }

  /* line 66, ../sass/plugins.scss */
  html.mm-right.mm-opening .mm-slideout {
    -moz-transform: translate(-360px, 0);
    -ms-transform: translate(-360px, 0);
    -webkit-transform: translate(-360px, 0);
    transform: translate(-360px, 0); } }
/* line 82, ../sass/plugins.scss */
.mm-label {
  color: rgba(255, 255, 255, 0.4); }

/* line 87, ../sass/plugins.scss */
.mm-list {
  font-size: 1.2em;
  font-weight: 300; }
  /* line 91, ../sass/plugins.scss */
  .mm-list a.mm-subclose:before {
    margin-bottom: -12px; }
  /* line 95, ../sass/plugins.scss */
  .mm-list > li > a,
  .mm-list > li > span {
    padding-top: 15px;
    padding-bottom: 15px; }
    /* line 99, ../sass/plugins.scss */
    .mm-list > li > a > i,
    .mm-list > li > span > i {
      width: 30px; }
  /* line 103, ../sass/plugins.scss */
  .mm-list > li.mm-label {
    font-size: .7em;
    line-height: 2.5em; }

/* line 113, ../sass/plugins.scss */
.has-android-smart-banner {
  margin-top: -80px; }

/* line 117, ../sass/plugins.scss */
#smartbanner .sb-close {
  width: 20px !important;
  height: 20px !important;
  font-family: Arial, san-serif;
  line-height: 1em;
  font-size: 18px !important;
  top: 12px; }
/* line 125, ../sass/plugins.scss */
#smartbanner .sb-button {
  top: 26px;
  right: 15px; }
/* line 129, ../sass/plugins.scss */
#smartbanner .sb-icon {
  top: 12px; }
/* line 132, ../sass/plugins.scss */
#smartbanner .sb-info {
  top: 22px; }
/* line 138, ../sass/plugins.scss */
#smartbanner.android .sb-close {
  line-height: 1.2em; }
